input[type='number'] {
  -moz-appearance: textfield; }

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

aside, nav, footer, header, section {
  display: block; }

html, body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: "Open Sans"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #432b2f;
  background-color: #fff6c6; }

.wrapper {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 30px; }

.cards {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #dcc075; }
  .cards__title {
    padding: 10px;
    text-align: center;
    background-color: #b59c5b; }
  .cards__title-span {
    color: #fff6c6;
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 4px; }
  .cards__container {
    max-width: 1620px;
    padding: 0 15px 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .cards__card-block {
    margin: 30px 10px 30px 10px;
    max-width: 450px;
    background-color: #dfc681;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px; }
    .cards__card-block:nth-child(1) {
      order: 3; }
    .cards__card-block:nth-child(2) {
      order: 1; }
    .cards__card-block:nth-child(3) {
      order: 4; }
    .cards__card-block:nth-child(4) {
      order: 2; }
  .cards__card-title {
    font-family: Roboto;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 20px; }
  .cards__card-img {
    max-width: 300px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .cards__card-img:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); }
  .cards__card-text {
    margin: 30px 30px 0 30px;
    line-height: 1.5;
    padding-bottom: 10px; }

@media screen and (max-width: 750px) {
  .cards {
    margin-top: 30px;
    margin-bottom: 5px; }
    .cards__title {
      padding: 5px; }
    .cards__title-span {
      font-size: 40px; }
    .cards__card-block {
      margin: 15px; }
    .cards__card-title {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 10px; }
    .cards__card-img {
      max-width: 300px;
      height: 250px; }
    .cards__card-text {
      font-size: 14px;
      margin: 20px 30px 20px 30px;
      line-height: 1.5; } }

.contacts {
  text-align: end; }
  .contacts__mail {
    font-weight: 700;
    color: #241719; }
    .contacts__mail:hover {
      color: #432b2f; }
  .contacts__name {
    margin-top: 10px; }

@media screen and (max-width: 750px) {
  .contacts {
    font-size: 14px; }
    .contacts__mail {
      font-size: 14px; } }
